<ion-accordion-group *ngFor="let group of groups">
  <ion-accordion value="group" >
    <ion-item slot="header">
      <ion-label class="groupLabel">{{ group | translate: 'names' }}</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-item *ngFor="let poi of group.pois">
        <ion-label class="poiLabel">{{poi | translate: 'names'}}</ion-label>
        <ion-button *ngIf="poi | translate: 'descriptions'" fill="clear" slot="end" (click)="showModal(poi)">
          <ion-icon color="blue" name="information-circle-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="showPoiPath(poi)">
          <ion-icon color="blue" slot="icon-only" name="location-outline"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
