#floors-menu {
  position: absolute;
  top: 0.5em;
  min-width: 3rem;
  left: 0.5em;
  margin-left: auto;
  margin-right: auto;
  .floor-button {
    width: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    padding: 0.25rem 0.25em;
    text-align: center;
    display: block;
    white-space: break;
    word-wrap: break-word;
  }
  .floor-button {
    box-shadow: 0 0 8px;
    &:first-child {
      border-radius: 3px 3px 0 0;
    }
    &:last-child {
      border-radius: 0 0 3px 3px;
    }
  }
}

#map {
    width: 100h;
    height: 700px;
}
