<ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content">
      <ion-header>
        <ion-toolbar color="primary" class="ion-text-center">
          <ion-title>Menu</ion-title>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
          <ion-button slot="end" *ngIf="user$|async as user" (click)="user?.uid ? logout() : redirect()">
            <ion-icon [name]="user?.uid ? 'log-out-outline' : 'log-in-outline'"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-sidebar *ngIf="wf"></app-sidebar>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-buttons>
              <ion-button slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-button>
            </ion-buttons>
            <ion-img>LOGO</ion-img>
            <ion-buttons slot="end">
              <ion-icon slot="end" name="chatbox-outline"></ion-icon><ion-label>Chat with Us</ion-label>
              <ion-icon slot="end" name="chevron-down-outline"></ion-icon><ion-label>English</ion-label>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <app-map *ngIf="wf"></app-map>
        </ion-content>
    </ion-router-outlet>
  </ion-split-pane>
  
  
