<ion-content [fullscreen]="true">
      <ion-grid>
        <ion-row class="logo">
          <ion-col>
            <ion-img src="assets/svg/shop.svg"></ion-img>
          <ion-label class="ion-margin-top">
            Enjoy
            <p class="ion-text-left logolabel"></p>
          </ion-label>
          </ion-col>
        </ion-row>
        <div class="homebutton ion-margin-horizontal ion-padding-horizontal">
          <ion-button color="primary" expand="block" shape="round" routerLink="/home"><ion-text color="white">Continue</ion-text></ion-button>
        </div>
      </ion-grid>
</ion-content>

