<ion-header class="ion-text-center">
  <ion-toolbar color="primary">
    <ion-title>{{ modalPoi.names.translations?.en }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-text-center">
  <ion-item>
    <ion-thumbnail>
      <img [src]="modalPoi | icon : icons | async" />
    </ion-thumbnail>
  </ion-item>
  <ion-item>
    <ion-text>
      <pre>{{ modalPoi.descriptions | json }}</pre>
    </ion-text>
  </ion-item>
</ion-content>

