<ion-toolbar>
  <app-search (ionChange)="searchFilter($event)"></app-search>
</ion-toolbar>
<ion-list>
  <ion-item *ngFor="let list of pois | poiSearch: searchTerm: (fbUser | async) |slice: 0:max; let i =index;trackBy:trackBy">
    <ion-label class="ion-text-wrap">
      <ion-text>
        {{ list | translate: 'names' }}
      </ion-text>
      <ion-text color="primary" *ngFor="let group of list.groups">
        <h4>{{group | translate: 'names'}}</h4>
      </ion-text>
    </ion-label>
    <ion-button *ngIf="list | translate: 'descriptions'" fill="clear" slot="end" (click)="showModal(list)">
      <ion-icon color="blue" name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" (click)="showPoiPath(list)">
      <ion-icon color="blue" slot="icon-only" name="location-outline"
      ></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
