<ion-header>
  <app-search (ionChange)="searchFilter($event)"></app-search>
</ion-header>
<ion-list>
  <ion-item *ngFor="let list of pois | poiSearch: searchTerm: (fbUser |async) |slice: 0:max; let i =index;trackBy:trackBy">
    <ion-label slot="start">
      <ion-text>
        <h4>{{ list.names.translations.en }}</h4>
      </ion-text>
    </ion-label>
    <ion-button *ngIf="list.descriptions?.translations?.en" fill="clear" slot="end" (click)="showModal(list)">
      <ion-icon color="blue" name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" (click)="viewPath(list)">
      <ion-icon color="blue" slot="icon-only" name="location-outline"
      ></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
