ion-content {
  --background: url("../../../assets/svg/vendito.svg") no-repeat center
    center/cover;
  ion-header {
    ion-toolbar {
        --background: transparent;
    }
  }
}

ion-footer {
  ion-list {
      border-radius: 20px 20px 0 0;
      ion-list-header {
        height: 40px;
        margin-top: 10px;
        padding-inline-start: 12px;
        padding-inline-end: 0;

        h1 {
          font-size: 18px;
          color: #818181
        }

        ion-button {
          margin-left: auto;
          font-size: 16px;
          text-transform: initial;
        }
          
      }
      ion-card-header {
        padding: 5px;
    
        ion-card-list {
          font-size: 16px;
        }
      }
    
      #image {
        height: 60px;
        width: 138px;
        background-position: center !important;
        background-size: cover !important;
      }

  }

  
}

  
