<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="group">
    <ion-label>{{ rubriques }}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="all">
    <ion-label>{{ all }}</ion-label>
  </ion-segment-button>
</ion-segment>
<div [ngSwitch]="true">
  <ng-container *ngSwitchCase="activatedSegment === 'group'">
    <app-listgroup></app-listgroup>
  </ng-container>
  <ng-container *ngSwitchCase="activatedSegment === 'all'">
    <app-listpois #listComponent></app-listpois>
  </ng-container>
  <ng-container *ngSwitchDefault> </ng-container>
</div>
